<div class="container text-center">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Acompanhamento de Estoque</h1>
        </div>
    </div>   
    <hr>
    <br/><br/>

    <div class="row">
        <div class="col-6">
            <div class="card border-warning entrada" style="width: 100%; padding-top: 2em; padding-bottom: 2em;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Entrada no Estoque</strong></h5>
                    <p class="card-text" style="padding-top: 1em; padding-bottom: 1em;">Aqui é possível acompanhar todos os produtos que entraram no estoque</p>
                    <a href="/estoque/entradas" class="btn btn-warning">Verificar Entradas</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-success saida" style="width: 100%; padding-top: 2em; padding-bottom: 2em;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Saída do Estoque</strong></h5>
                    <p class="card-text" style="padding-top: 1em; padding-bottom: 1em;">Aqui é possível acompanhar todos os produtos que saíram do estoque</p>
                    <a href="/estoque/saidas" class="btn btn-success">Verificar Saídas</a>
                </div>
            </div>
        </div>
    </div>
</div>