<div class="container text-left">
    <div class="row">
        <div class="col-1 text-left">
            <%= link_to 'Voltar', produtos_path, class: "btn btn-dark" %>
        </div>
        <div class="col-11 text-center">
            <h1>Visualização de Cadastro de Produto</h1>
        </div>        
    </div>   
    <hr>
    <br/><br/>

    <div class="row">
        <div class="offset-2 col-8">
            <p>
                <strong >Descrição:</strong>
                <%= @produto.descricao %>
            </p>
            <p>
                <strong >Quantidade em Estoque:</strong>
                <%= @produto.quantidade %>
            </p>
            <p>
                <strong >Preço:</strong>
                R$ <%= '%.2f' % @produto.preco%>
            </p>
        </div>
    </div>
</div>