/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';

 #menu_lateral{
    height: 93vh;
    position: fixed;
    background: #D3D3D3!important;
    color: #1c1c1c!important;
 }

 .cabecalho{
    background: #000A14;
    color: #ffffff!important;
    font-weight: bold;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top:0.5em !important;
 }

 .item-menu{
    background: #d8d8d8;
    color: #1c1c1c;
 }

 .nav-item a {
    color: #1c1c1c;
    display: block;
    padding: 0.6em;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    background-color: #aaa;
  }

  .entrada {
    background: #ffffeb!important;
}

.saida {
    background: #f6fff6!important;
}