<div class="container text-left">
    <div class="row">
        <div class="col-1 text-left">
            <%= link_to 'Voltar', funcionario_path, class: "btn btn-dark" %>
        </div>
        <div class="col-11 text-center">
            <h1>Alteração no Cadastro de Funcionário</h1>
        </div>        
    </div>   
    <hr>
    <br/><br/>

    <div class="row">
        <div class="offset-2 col-8">
            <%= render  'form' %>
        </div>
    </div>
</div>