<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0" style="height: 7vh; background: #000A14;;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Gestão de Oficina de Manutenção</a>
</nav>